FoxGame\Library
FoxGame\obj
FoxGame\Temp
FoxGame\Assembly-CSharp.csproj
FoxGame\Cinemachine.csproj
FoxGame\com.unity.cinemachine.editor.csproj
FoxGame\FoxGame.csproj
FoxGame\FoxGame.sln
FoxGame\Unity.Analytics.DataPrivacy.csproj
FoxGame\Unity.CollabProxy.Editor.csproj
FoxGame\Unity.PackageManagerUI.Editor.csproj
FoxGame\Unity.TextMeshPro.csproj
FoxGame\Unity.TextMeshPro.Editor.csproj